a {
    margin: 10px 6px 10px 6px;
    text-decoration: none;
    color: white;
    font-size: 14px;

}

a:hover {
    text-decoration: underline;
}

#right-edge {
    display: flex;
    margin: 0px;
    position: absolute;
    justify-content: right;
    width: 100vw;
}


body {
    background-color: #202020;
    left: 0px;
}

.bar {
    margin: 5vw 13vw 5vw 13vw;
    width: 70vw;
    height: 10px;
    border: 1px solid rgba(250, 256, 256, 0.5);
    border-radius: 25px;
    background-color: #202020;
    padding: 20px 20px 20px 40px;
    font-size: 18px;
    caret-color: #f5f5f5;
    outline: none;
    color: white;
}

.bar:hover {
    border: none;
    background-color: #383838;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.6);
}

.bar:focus{
    background-color: #373737;
    border-width: 0px;
    border-collapse: collapse;
    color: #fafafa;
    font-weight: 10;
}

#search {
    display: flex;
    align-items: center;
    height: 90vh;
    position: relative;
    width: 100%;
    flex-wrap: wrap;
}

.search{
    margin-left: 35vw;
    height: 35px;
    width: 125px;
    border-radius: 6px;
    outline: none;
    border: 0px;
    background-color: #373737;
    color: white;
}

.search:hover {
    border: 1px solid rgba(250, 256, 256, 0.5);
}

